{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html> 
<html lang="ru">
  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <title>
      {% block title %}Текст на вкладке{% endblock %}
    </title>
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">   
  </head>
  <body class="container-fluid">
    <header class="mb-4 my-header">
      <h3 class="display-6 text-center"><a href="{% url 'projects:index' %}">Главная</a></h3>
    </header>    
    <div class="container py-5">
    {% block content %}
      Здесь контент
    {% endblock %}
    </div>  
    <footer class="mt-3">
      <p class="text-right font-italic">автор: Клинцова Анастасия Павловна</p>
    </footer>  
  </body>
</html>