{% extends "layout/base.html" %}
{% load mptt_tags %}

{% block title %}Проекты{% endblock %}

{% block content %}
  {% for project in page_obj %}
    <div class="container project-card">
      <h1>{{project.name}}</h1>
      <p>{{project.description}}</p>    
      <ul>
        {% recursetree project.tasks.all %}               
          <li>
            <a href="{{node.get_absolute_url}}">{{node.name}} ({{node.status}})</a>
            {% if not node.is_leaf_node %}
              <ul class="children">
                {{ children }}
              </ul>
            {% endif %}
          </li>
        {% endrecursetree %}
      </ul> 
      <strong>Срок исполнения: {{project.deadline|date:"d.m.Y"}}</strong>       
    </div>             
  {% if not forloop.last %} <hr> {% endif %}
{% endfor %}
{% endblock %}