{% extends "layout/base.html" %}
{% load mptt_tags %}

{% block title %}{{task.name}}{% endblock %}

{% block content %}
  <h1>{{task.name}}</h1>  
  <h3> cтатус: {{task.status}} </h3>
  <hr>   
  <p>{{task.description}}</p>
  <hr>
  <div class="col">    
  </div>
  <h4>Ответственные сотрудники:<h4>
  <ul>     
  {% for worker in task.workers.all %}
    <li>{{worker.surname}} {{worker.name}} {{worker.patronymic}} - {{worker.position}}</li>
  {% endfor %}
  </ul> 
  {% include 'includes/task_comment_form.html' %}
{% endblock %}

   

